.wrapper {
   position: relative;

   .calendarInput {
      display: flex;
      position: relative;

      .input {
         width: 100%;
         padding: 5px 10px;
      }

      .icon {
         position: absolute;
         top: 25px;
         right: 10px;
      }
   }

   .calendarBlock {
      position: absolute;
      z-index: 1;
      top: 60px;
      left: -1px;

      .calendarItem {
         background-color: rgb(199, 199, 199);
         border-radius: 15px;
      }

      &::before {
         content: '';
         position: absolute;
         left: 50%;
         top: -13px;
         transform: translate(-50%, 0%);
         width: 30px;
         height: 15px;
         clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
         background-color: rgb(199, 199, 199);
         z-index: 2;
      }
   }


}