.inputContainer {
   display: grid;
   gap: 15px;
}

.tasksBlock {
   display: grid;
   grid-template-columns: 1fr;
   gap: 5px;
   margin: 20px 0 0 0;
}

.calendar label {
   font-size: 12px;
}

.taskDetail {
   border-top: 1px solid black;

   .taskMainText {
      width: 100%;

      &__text {
         padding: 5px 10px;

      }

      &__info {
         font-size: 10px;
         display: flex;
         flex-direction: column;
         // gap: 10px;
         margin: 10px 0 0 0;

         .dateStart {}

         .dateEnd {}
      }

      .statusBlock {
         display: flex;
         gap: 10px;
         margin: 10px 0;
      }

   }
}

.titleBlock {
   display: flex;
   gap: 10px;

   &__index {
      font-weight: 700;

      &:after {
         content: '.';
      }
   }

   &__title {
      padding: 0 10px;
      text-transform: uppercase;

      &:hover {
         text-decoration: underline;
      }
   }

   &__preTitle {
      padding: 0 10px;
      border-radius: 10px;
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;

      &.new {
         background-color: yellow;
         color: #111;
      }

      &.completed {
         background-color: grey;
      }

      &.inWork {
         background-color: green;
      }

      &.canceled {
         background-color: rgb(181, 43, 43);
      }

      &.overdue {
         background-color: #111;
      }
   }

   &__prority {

      &.high,
      &.medium,
      &.low {
         position: relative;

         &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 3px;
            width: 70%;
            transition: 0.5s;
         }

         &:hover:after {
            cursor: pointer;
            width: 100%;
            transition: 0.5s;
         }
      }

      &.high:after {
         background-color: #900;
      }

      &.medium:after {
         background-color: rgb(178, 189, 26);
      }

      &.low:after {
         background-color: rgb(8, 153, 0);
      }
   }
}

.editBlock {
   margin: 10px 0 10px 0;
}

.taskDetailBlock {
   display: grid;
   grid-template-columns: 1fr auto;

   .buttonEdit {
      font-size: 8px;
      padding: 2px;
   }

}

.toolBar {
   display: flex;
   align-items: center;

   &__addBtn {
      margin: 0 20px 0 0;
   }

   &__stats {}
}

.lineBlock {
   position: relative;

   &__counter {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translate(0%, -30%);
      height: 100%;
      width: 150px;
      z-index: 1;
   }
}

.radioBlock {
   margin: 0 0 0 20px;

   .title {
      font-size: 12px;

   }
}