.inputContainer {
   display: grid;
   gap: 15px;
}

.blockTask {
   display: grid;
   grid-template-columns: 0.5fr 2fr 4fr;

   .indexNumber {
      // margin: 0 10px 0 0;
      border: 1px solid #111;
   }

   .title {
      border: 1px solid #111;
   }

   .task {
      border: 1px solid #111;
   }


}